{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Billboard for Change</title>
	
  	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

	<link rel="stylesheet" type="text/css" href="{% 'style.css' %}">


</head>
<body>
	<nav class="nav-center">
		<!-- <div class="navbar-fixed"> -->
	<div class = 'nav-wrapper center-align'>
		<ul id="nav-mobile" class="center-align">
		{% if user.is_authenticated %}
			<li><a href="{% url 'profile' %}" class="header">Profile</a></li>
			<li><a href="{% url 'logout' %}" class="header">Logout</a></li>
			<li><a href="{% url 'index' %}" class="header">Home</a></li>
			<li><a href="{% url 'search' %}" class="header">Search</a></li>  

		{% else %}
			<li><a href="{% url 'login' %}" class="header">Login</a></li>
			<li><a href="{% url 'signup' %}" class="header">Sign Up</a></li>
			<li><a href="{% url 'index' %}" class="header">Home</a></li>

		{% endif %}
		</ul>
	<!-- </div> -->
</div>
</nav>
	<div>
		{% block content %}
		{% endblock %}
	</div>

	<!-- <hr> -->
	<footer class="footer">All Rights Reserved, BillboardsForChange 2018</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

	<script src="{% static 'app.js' %}"></script>
</body>
</html>