{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class='header-pic'>
	<div class="layer">
	<h1 id="title"><span>Billboard for <span class="bold">Change</span><span></h1>
		</div>
</div>




</div>
<div class="container">
	
	<div class="row">
    <div class="col s8 m4">
      <div class="homepage-card create-div">
        <div class="card-no-image">
          <h3>Create<br></h3><span class="smaller-homepage-text create">Join us in creating uplifting and positive messages.
        </div>
       
      </div>
  </div>
      <div class="col s8 m4">
      <div class="homepage-card ">
        <div class="card-no-image">
          <h3>Upload<br></h3><span class="smaller-homepage-text upload"> Upload your artwork files and comment and get feedback from other fellow artists.</span>
        </div>
       
      </div>
  </div>
   <div class="col s8 m4">
      <div class="homepage-card">
        <div class="card-no-image">
          <!-- <span class="card-title">Comment and get Feedback</span> -->
          <h3>Get Sponsored<br> </h3><span class="smaller-homepage-text sponsor">Find sponsors to that will get your artwork on a billboard near you!</span>
        </div>
       
      </div>
    </div>

  </div>
</div>



{% endblock %}